.input-query2{
    padding-left: 50px !important
}

.image-block {
    position: relative; /* Position context for child elements */
    display: inline-block; /* Adjusts size to fit the content */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}

.image-preview {
    max-width: 15%;
    height: auto;
    border-radius: 15px 15px 0 15px;
}

.xmark {
    position: absolute; /* Position relative to .image-block */
    top: 5px; /* Adjusts spacing from top edge */
    right: 5px; /* Adjusts spacing from right edge */
    color: white;
    font-size: 20px; /* Adjust the size of the icon */
    cursor: pointer; /* Change cursor to pointer for better UX */
    z-index: 10; /* Ensures it stays above the image */
}
